*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial;
background:#fff8fb;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

background:white;

box-shadow:0 3px 15px rgba(0,0,0,.08);

}

nav ul{

display:flex;

list-style:none;

gap:30px;

}

nav a{

text-decoration:none;

color:#333;

font-weight:bold;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px;

}

.hero-text{

width:50%;

}

.hero-text h3{

color:#d14c8d;

font-size:28px;

}

.hero-text h1{

font-size:65px;

margin:15px 0;

}

.hero-text p{

font-size:22px;

line-height:1.7;

margin-bottom:30px;

}

.hero-text a{

background:#d14c8d;

padding:15px 30px;

color:white;

text-decoration:none;

border-radius:8px;

}

.hero-image img{

width:350px;

border-radius:20px;

}
